<app-navbar></app-navbar>

<div class="container">
  <div class="buttons-group">
    <ng-container *ngFor="let opcion of opcionesVisibles">
      <button
        *ngIf="!opcion.permiso || tienePermiso(opcion.permiso)"
        class="button"
        [ngClass]="{ 'hovered': hoveredButton === opcion.titulo }"
        (click)="navigate(opcion.ruta)"
        (mouseenter)="hoveredButton = opcion.titulo"
        (mouseleave)="hoveredButton = null"
      >
        {{ opcion.titulo }}
      </button>
    </ng-container>
  </div>

  <button
    *ngIf="isLoggedIn"
    class="button logout"
    [ngClass]="{ 'hovered-logout': hoveredButton === 'Cerrar sesión' }"
    (click)="logout()"
    (mouseenter)="hoveredButton = 'Cerrar sesión'"
    (mouseleave)="hoveredButton = null"
  >
    Cerrar sesión
  </button>
</div>
