<h2>Gestión de Roles</h2>

<div class="permiso-header">
  <div class="buscador-wrapper">
    <input type="text" placeholder="Buscar" class="buscador" [(ngModel)]="filtro" (keydown.enter)="filtrarRoles()" />
    <button class="lupa" (click)="filtrarRoles()">🔍</button>
  </div>
  <button class="crear" (click)="abrirModal()">Crear Rol</button>
</div>

<table class="tabla-permisos">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rol of rolesFiltrados">
      <td>{{ rol.name }}</td>
      <td>{{ rol.description }}</td>
      <td>
        <button class="btn azul" (click)="abrirModalEditar(rol)">Editar</button>
        <button class="btn rojo" (click)="abrirModalEliminar(rol)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>

<div class="mensaje-vacio" *ngIf="rolesFiltrados.length === 0">
  ⚠️ No se encontraron resultados.
</div>

<!-- Crear -->
<div class="modal" *ngIf="mostrarModal">
  <div class="modal-content">
    <h3>Crear Rol</h3>
    <input type="text" class="input-text" [(ngModel)]="nuevoRol.name" placeholder="Nombre del rol" />
    <textarea class="input-textarea" [(ngModel)]="nuevoRol.description" placeholder="Descripción"></textarea>
    <p class="mensaje">{{ mensaje }}</p>
    <div class="acciones">
      <button class="btn crear" (click)="crearRol()">Crear</button>
      <button class="btn cancelar" (click)="cerrarModal()">Cancelar</button>
    </div>
  </div>
</div>

<!-- Editar -->
<div class="modal" *ngIf="mostrarModalEditar">
  <div class="modal-content">
    <h3>Editar Rol</h3>
    <input type="text" class="input-text" [(ngModel)]="rolEditado.name" placeholder="Nuevo nombre del rol" />
    <textarea class="input-textarea" [(ngModel)]="rolEditado.description" placeholder="Nueva descripción"></textarea>
    <p class="mensaje">{{ mensajeEditar }}</p>
    <div class="acciones">
      <button class="btn crear" (click)="guardarCambios()">Guardar</button>
      <button class="btn cancelar" (click)="cerrarModalEditar()">Cancelar</button>
    </div>
  </div>
</div>

<!-- Eliminar -->
<div class="modal" *ngIf="mostrarModalEliminar">
  <div class="modal-content">
    <h3>¿Estás seguro de eliminar este rol?</h3>
    <p class="mensaje">
      ❌ Esta acción no se puede deshacer.<br />
      Rol: <strong>{{ rolAEliminar?.name }}</strong>
    </p>
    <p class="mensaje" *ngIf="mensajeEliminar">⚠️ {{ mensajeEliminar }}</p>
    <div class="acciones">
      <button class="btn rojo" (click)="confirmarEliminar()">Eliminar</button>
      <button class="btn cancelar" (click)="cerrarModalEliminar()">Cancelar</button>
    </div>
  </div>
</div>
