<div class="panel-vendedor-root">
  <app-top-bar></app-top-bar>

  <div class="panel-layout">
    <div class="panel-sidebar">
      <app-dashboard-panel></app-dashboard-panel>
    </div>
    <div class="panel-contenido">
      <h2>Bienvenido al Panel de Vendedor</h2>
      <p>Aquí va el contenido principal del panel.</p>
      <h2>Bienvenido al Panel de Vendedor</h2>
      <p>Aquí va el contenido principal del panel.</p>
      <h2>Bienvenido al Panel de Vendedor</h2>
      <p>Aquí va el contenido principal del panel.</p>
      <h2>Bienvenido al Panel de Vendedor</h2>
      <p>Aquí va el contenido principal del panel.</p>
      <h2>Bienvenido al Panel de Vendedor</h2>
      <p>Aquí va el contenido principal del panel.</p>
      <h2>Bienvenido al Panel de Vendedor</h2>
      <p>Aquí va el contenido principal del panel.</p>
      <h2>Bienvenido al Panel de Vendedor</h2>
      <p>FINAL</p>
    </div>
  </div>
</div>
