<div class="carrito-wrapper" (mouseenter)="mostrar()" (mouseleave)="ocultar()">
  <button class="carrito-boton">
    <!-- Usar icono de carrito de FontAwesome -->
    <span class="carrito-icono"><i class="fas fa-shopping-cart"></i></span> 
    CARRITO
  </button>

  <div class="carrito-menu" [ngClass]="{ 'activa': mostrarCarritoMenu }">
    <ng-container *ngIf="!cargando && carritoPoco.length > 0; else vacio">
      <div class="carrito-items-container">
        <div *ngFor="let item of carritoPoco" class="carrito-item">
          <div class="carrito-item-flex">
            <div class="imagen-columna">
              <img *ngIf="item.imagenUrl" [src]="item.imagenUrl" alt="Imagen del producto" class="carrito-item-imagen" />
            </div>
            <div class="detalles-columna">
              <p class="carrito-item-precio">PEN {{ item.precioUnitario | number:'1.2-2' }} </p> <!-- Precio unitario con 2 decimales -->
              <p class="carrito-item-total">Total: PEN {{ item.total | number:'1.2-2' }} </p> <!-- Total con 2 decimales -->
              <div class="carrito-item-controles">
                <button class="btn-cantidad" (click)="disminuirCantidad(item)" [disabled]="item.cantidad <= 1">−</button>
                <span>{{ item.cantidad }}</span>
                <button class="btn-cantidad" (click)="aumentarCantidad(item)" [disabled]="item.cantidad >= item.stock">+</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-template #vacio>
      <div class="carrito-opcion sin-dato">
        ❌ No hay productos en el carrito
      </div>
    </ng-template>

    <div class="carrito-footer">
      <button class="btn-ir-carrito" (click)="verCarrito()"><span class="carrito-XD"><i class="fas fa-shopping-cart"></i></span> Ir al carrito</button>
      <button class="btn-pagar" (click)="pagar()">Pagar</button>
      
    </div>
  </div>
</div>
